.home {
    $home: &;
    background-image: url("../img/home/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0 auto;

    &__content {
        padding-top: 33vh;
        width: 100%;
        max-width: 610px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        margin-bottom: 45px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 35px;
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 8px;
    }

    &__subtitle {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: $grey;
        line-height: 1.6;
        margin-bottom: 33vh;
    }

    &__btn-wrapper {
        display: flex;
        justify-content: center;

        #{$home}__btn {
            padding: 15px;
            border: none;
            border-radius: 50%;
            background-color: $green;
            color: #fff;
            transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

            &:hover {
                color: $green;
                background-color: #fff;
            }

            i {
                transform: translateY(2px);
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    align-items: center;

    .logo-wrapper {
        .logo {
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            font-size: 25px;
            color: #fff;
            text-transform: uppercase;
        }
    }
}

.nav {
    ul {
        display: flex;

        li {
            a {
                position: relative;
                padding: 2px 12px;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                color: $grey;
                text-decoration: none;
                border: 1px solid $grey;
                border-radius: 16.5px;
                border-color: transparent;
                transition: border-color 0.4s ease-in-out;

                &:hover {
                    border-color: $grey;
                }
            }
        }
    }
}
