$grey: #c6c6c3;
$light-grey: #81868e;
$green: #19bd9a;
$light-black: #464646;
$black: #333b46;
$bg-grey: #f3f3f3;

// Media
$laptop: 1200px;
$tabletL: 1024px;
$tabletM: 770px;
$mobileL: 430px;
$mobileM: 380px;
$mobileS: 325px;
