@media screen and (max-width: $tabletL) {
    .this-is-bouncy {
        $self: &;
        &__content {
            flex-direction: column;

            .left-column,
            .right-column {
                display: flex;
                justify-content: center;
            }

            .left-column {
                flex-direction: column;
                margin-right: 0;
                text-align: center;

                .text {
                    margin: 0 auto 36px;
                }

                .section__header {
                    text-align: center;
                }

                #{$self}__btn {
                    margin-bottom: 100px;
                }
            }
        }
    }
}
