.services {
    $services: &;
    background-color: $bg-grey;
    max-width: 1170px;

    &__inner {
        display: flex;

        #{$services}__control {
            display: flex;
            flex-direction: column;

            &-item {
                margin-bottom: 25px;

                @include icons;

                &.active-services {
                    background-color: $green;
                }

                img {
                    padding: 12px;
                }
            }
        }

        #{$services}__content {
            padding-left: 45px;
            width: 100%;
            max-width: 425px;
            margin-right: 80px;

            &-title {
                @include text-title;
            }

            &-text {
                @include text;
            }
        }
    }

    &__skills {
        $skills: &;
        padding-top: 55px;

        &-item {
            position: relative;
            display: inline-block;
            margin: 0.5em;
            width: 7em;
            height: 7em;
            position: relative;
            border-radius: 50%;

            &::after {
                border-radius: 50%;
                display: block;
                content: "";
                background: #fff;
                position: absolute;
                left: 0.5em;
                top: 0.5em;
                height: 6em;
                width: 6em;
            }

            #{$skills}-width {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 10;
                transform: translate(-50%, -50%);

                @include text-title;
                color: $light-grey;

                .persent {
                    font-size: 14px;
                }
            }

            #{$skills}-name {
                position: absolute;
                top: 125%;
                left: 50%;
                z-index: 10;
                transform: translateX(-50%);

                @include text-title;
                width: 100%;
                text-align: center;
                margin-bottom: 0;
                font-size: 16px;
                color: $light-grey;
            }
        }

        .skill-1 {
            background-image: linear-gradient(-30deg, $green 50%, transparent 50%),
                linear-gradient(90deg, $green 50%, #047378 50%);
        }

        .skill-2 {
            background-image: linear-gradient(270deg, transparent 50%, $green 50%),
                linear-gradient(180deg, #047378 50%, $green 50%);
        }

        .skill-3 {
            background-image: linear-gradient(270deg, transparent 50%, $green 50%),
                linear-gradient(190deg, #047378 50%, $green 50%);
        }
    }
}
