.team {
    padding-bottom: 0 !important;

    .carousel {
        .person {
            display: flex;
            justify-content: space-between;
            text-align: right;
            margin-bottom: 60px;

            &__avatar {
                img {
                    width: 285px;
                    height: 364px;
                }
            }

            &__description {
                width: 100%;
                max-width: 370px;

                &-name {
                    position: relative;
                    margin-bottom: 10px;
                    font-family: "Open Sans", sans-serif;
                    font-size: 20px;
                    color: $light-black;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: -43px;
                        width: 4px;
                        height: 42px;
                        background-color: $green;
                    }
                }

                &-position {
                    margin-bottom: 33px;
                    font-family: "Source Sans Pro", sans-serif;
                    font-size: 14px;
                    color: $light-grey;
                    font-style: italic;
                    text-transform: uppercase;
                }

                &-text {
                    margin-bottom: 50px;
                    font-family: "Open Sans", sans-serif;
                    font-size: 14px;
                    color: $light-grey;
                    line-height: 1.6;
                }

                &-skills {
                    .skills {
                        &__item {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            width: 100%;
                            max-width: 300px;
                            margin: 0 0 34px auto;

                            &-name,
                            &-persent {
                                font-family: "Source Sans Pro", sans-serif;
                                font-size: 16px;
                                color: $light-grey;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                margin-bottom: 10px;
                            }

                            .progress-bar {
                                background: #e1e4e9;
                                height: 4px;
                                overflow: hidden;
                                position: relative;
                                width: 300px;

                                &__inner {
                                    height: 10px;
                                    left: 0;
                                    min-height: 10px;
                                    position: absolute;
                                    top: 0;
                                }
                                &--green {
                                    color: $light-grey;
                                    .progress-bar__inner {
                                        background-color: $green;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .control {
            @include carousel-control;
        }
    }

    .contact-block {
        text-align: center;
        background-image: url("../img/team/bg.jpg");
        @include background;
        height: 200px;

        &__title {
            padding-top: 56px;
            margin-bottom: 33px;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            color: #fff;
        }

        &__btn {
            padding: 8px 26px;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            color: #fff;
            background-color: transparent;
            text-decoration: none;
            border: 1px solid #fff;
            border-radius: 18.5px;
            transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $green;
                background-color: #fff;
            }
        }
    }
}

// Carousel
@include fade-carousel;
