@media screen and (max-width: 830px) {
    .team {
        .container {
            .carousel {
                .person {
                    flex-direction: column;
                    justify-content: center;

                    &__avatar {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 40px;

                        img {
                            width: 116px !important;
                            height: 150px !important;
                        }
                    }

                    &__description {
                        margin: 0 auto;
                        align-items: center !important;
                        text-align: center;

                        .skills {
                            &__item {
                                margin: 0 auto 34px;
                            }
                        }
                    }
                }
            }
        }
    }
}
