.news {
    $news: &;
    background-image: url("../img/news/bg.jpg");
    @include background;

    .container {
        max-width: 1166px !important;
        margin: 0;

        .section__header {
            width: 100%;
            max-width: 460px;
            margin: 0 auto 0 0;
            text-align: left;

            .title {
                color: #fff;
            }

            .subtitle {
                margin-bottom: 85px;
                color: #b2b3b3;
            }
        }

        .container {
            #{$news}__inner {
                display: flex;
                justify-content: space-between;

                .carousel {
                    &__item {
                        flex-direction: column;

                        &-title {
                            margin-bottom: 16px;
                            font-family: "Open Sans", sans-serif;
                            font-size: 20px;
                            color: #e1e4e9;
                        }

                        &-author {
                            margin-bottom: 19px;
                            font-family: "Source Sans Pro", sans-serif;
                            font-size: 14px;
                            color: $light-grey;
                            text-transform: uppercase;
                            font-style: italic;

                            .green {
                                color: $green;
                            }
                        }

                        .info {
                            margin-bottom: 60px;
                            display: flex;
                            font-family: "Source Sans Pro", sans-serif;
                            font-size: 14px;
                            font-weight: bold;
                            color: $light-black;

                            &__item {
                                &::after {
                                    content: " - ";
                                    white-space: pre-wrap;
                                }
                            }
                        }

                        &-text {
                            width: 560px;
                            margin-bottom: 54px;
                            font-family: "Open Sans", sans-serif;
                            font-size: 14px;
                            color: $light-grey;
                            line-height: 1.6;
                        }

                        .more {
                            &__btn {
                                margin-bottom: 20px;
                                font-family: "Open Sans", sans-serif;
                                font-size: 16px;
                                color: #b2b3b3;
                                background-color: transparent;
                                border: none;

                                &::before {
                                    content: "+ ";
                                }

                                &--active {
                                    &::before {
                                        content: "- ";
                                    }
                                }
                            }

                            &__content {
                                @extend .more__btn;
                                opacity: 0;

                                &--active {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .control {
                    @include carousel-control;
                    flex-direction: column;

                    &__item {
                        margin: 5px 0;
                        border: 1px solid #bdd0d0;

                        &:hover {
                            background-color: #bdd0d0;
                        }

                        &.active {
                            background-color: #bdd0d0;
                        }
                    }
                }
            }
        }
    }
}

// Carousel
@include fade-carousel;
